#tmAbout {
  padding-bottom: 80px;
}

.tm-about-page-title {
  font-size: 2.5rem;
  margin-top: 72px;
  margin-bottom: 40px;
}

.tm-about-box {
  padding: 25px;
  max-width: 500px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  transform: translate(50%, 0%); 
}

.tm-about-title-hr {
  border-top-color: white;
  max-width: 450px;
}

.tm-bg-black-transparent {
  background-color: rgba(15, 29, 32, 0.76);
  color: white;
}

.tm-about-header {
  padding-bottom: 80px;
}

.tm-about-number-container {
  width: 83px;
  height: 83px;
  font-size: 2.2rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tm-about-name {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.tm-about-description {
  margin-bottom: 30px;
  line-height: 1.8;
}

.tm-app-header {
  max-width: 644px;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 60px;
}

#tmAppFeatures {
  padding-top: 80px;
  padding-bottom: 24px;
}

.tm-app-feature-header {
  font-size: 2.8rem;
}

.tm-app-feature-box {
  display: flex;
  align-items: center;
  padding: 50px 40px; 
  margin-bottom: 40px; 
}

.tm-app-feature-icon {
  margin-right: 30px;
  border-radius: 50%;
  border: 1px solid;
  width:  120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-btn-app-feature {
  margin-bottom: 35px;
}

.tm-app-feature-description-box {
  color: #2C3030;
}

.tm-app-feature-title {
  font-size: 2rem;
}